.header {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.search {
    margin: auto;
    padding: 6px;
}
.search input {
    min-width: 300px;
}

ul {
    display: flex;
    justify-content: center;
}

ul li{
    display: inline;
    min-width: 100px;
    border: 1px solid gray;
    text-align: center;
    margin: 0 2px 0 2px;
    border-radius: 5px;
    cursor: pointer;
    padding: 2px;
}

li.active {
    color: white;
    background: gray;
}


.board {
    padding: 10px;
    display: flex;
    justify-content: center;
}
.no-book {
    color: lightgray;    
}
.book {
    margin: 10px;
}
.book-thumbnail {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
    width: 250px;
    cursor: pointer;
    margin: 4px;
}
.book-thumbnail.highlight {
    border: 4px solid #0AA1F9;
    margin: 0px;
    box-shadow: none;
}
.book h3{
    text-align: center;
    font-family: Helvetica, sans-serif;
    margin: 6px;
}
.book-thumbnail img{
    width: 100%;
    height: 350px;
}

img {
    height: 340px;
}

.cover {
    width: 350px;
    object-fit: cover;
}