<div class="header">
  <div class="search">
      <input [(ngModel)]="textSearch" type="search" placeholder="Title or author of book">
      <button (click)="search()">Search</button>
  </div>
  
  <ul>
    <li class="active">All books</li>
    <li>Collections</li>
    <li>Author</li>
    <li>Categories</li>
  </ul>
</div>

<div class="board" *ngIf="books && books.length">
  <div class="book" *ngFor="let item of books">
      <div class="book-thumbnail">
          <img (click)='selectBook(item)' class="img-thumbnail cover" src="{{item.image}}" alt="">  
      </div>
      <h3>{{item.title}}</h3>
      
  </div>
 
</div>
<div class="board" *ngIf="!books || !books.length">
   <h2 class="no-book">Import book to your library</h2>
</div>

<button (click)="clearBook()">Clear Book</button>